.headerStyle{
   color: rgb(65, 65, 65);
 }
 
.light{
    color:rgb(65,65,65);
 }

.listStyle{
    color: rgb(65, 65, 65)
 }
 
.menuStyle{
   display: flex;
   justify-content:center;
   flex-direction: column;
   align-items: center;
}

 @media (prefers-color-scheme:dark){

.light  .headerStyle {
   color: whitesmoke;
}
.listStyle{
   color:whitesmoke
}
.headerStyle{
   color:whitesmoke
}
 }